* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: digital;
  src: url("./fonts/digital.ttf");
}

body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container h1 {
  color: white;
  font-family: digital;
  font-size: 150px;
}
